.content
  font-size 3em
  color $gray-light
.memberList
  font-size .75em
.inUse
   background-color red
   color black
.paused
  background-color yellow
  color black
.available
  background-color green
  color black
