.content
  font-size 3em
  color $white
.memberList
  font-size .75em
.inUse
   background-color $brand-danger
   color black
.ringing
   background-color $background-color
   color black
.paused
  background-color $brand-warning
  color black
.available
  background-color $brand-success
  color black
