.content
  font-size 3em
  color $white
.memberList
  font-size .75em
.inUse
   background-color $background-color
   color black
.ringing
   background-color $background-color
   color black
.paused
  background-color yellow
  color black
.available
  background-color green
  color black
