.content
  font-size $widget-body-font-size
  color $widget-body-text-color
  text-align center
  
.warning
  background-color $brand-danger
  .content
    color white

a
	text-decoration none
	color $widget-body-text-color